<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h2>Change Password</h2>
<form action="./password" method="post">
Admin Id : <input type="text" name="adminId"><br><br>
Password :<input type="password" name="password"><br><br>
New Password :<input type="password" name="password1"><br><br>
Re-enter New Password : <input type="password" name="password2"><br><br>
<input type="submit" value="Save new password">
<span th:text="${Message}"></span>

</form>
</body>
</html>